/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Subrayada");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-family: "Montserrat Subrayada", sans-serif;
  font-size: 46px;
  text-align: center;
}

h3 {
  text-align: center;
  font-size: 30px;
}

h2 {
  text-align: center;
  font-size: 38px;
}

h4 {
  text-align: center;
  font-size: 24px;
}

h5 {
  font-size: 16px;
  text-align: center;
  letter-spacing: 5px;
  font-weight: 800;
}

#slide-holder {
  width: 1000px;
  height: 400px;
}

#slide-holder #right-span {
  position: absolute;
  z-index: 3;
  height: 100px;
  width: 100px;
  margin-top: 150px;
  background-color: #ffffff;
  -webkit-clip-path: polygon(0 0, 100% 50%, 0 100%, 11% 50%);
          clip-path: polygon(0 0, 100% 50%, 0 100%, 11% 50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  right: 1%;
}

#slide-holder #right-span:hover {
  opacity: 0.4;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  cursor: pointer;
}

#slide-holder #left-span {
  position: absolute;
  z-index: 3;
  height: 100px;
  width: 100px;
  margin-top: 150px;
  background-color: #ababab;
  -webkit-clip-path: polygon(0 0, 100% 50%, 0 100%, 11% 50%);
          clip-path: polygon(0 0, 100% 50%, 0 100%, 11% 50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  left: 1%;
}

#slide-holder #left-span:hover {
  opacity: 0.4;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  cursor: pointer;
}

#slide-holder img {
  width: 1000px;
  height: 400px;
  border-radius: 2px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-box-shadow: 0 12px 16px -6px #000;
          box-shadow: 0 12px 16px -6px #000;
  -webkit-animation: slide-change 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
          animation: slide-change 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

#slide-holder label {
  position: relative;
  font-size: 24px;
  top: -390px;
  color: #ffffff;
  letter-spacing: 6px;
  font-weight: 800;
  text-shadow: 2px 3px #494622;
  -webkit-animation: slide-change 0.5s linear forwards;
          animation: slide-change 0.5s linear forwards;
}

.slide {
  display: none;
}

@-webkit-keyframes slide-change {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.04);
            transform: scale(1.04);
  }
  100% {
    opacity: 1;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes slide-change {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.04);
            transform: scale(1.04);
  }
  100% {
    opacity: 1;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  background-color: #ababab;
  color: #494622;
}

#background1 {
  position: absolute;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 18%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 18%, 0% 100%);
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  z-index: -1;
}

#background2 {
  position: absolute;
  -webkit-clip-path: polygon(0 24%, 100% 77%, 100% 91%, 0% 100%);
          clip-path: polygon(0 24%, 100% 77%, 100% 91%, 0% 100%);
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  z-index: -1;
}

#background3 {
  position: absolute;
  -webkit-clip-path: polygon(0 24%, 100% 77%, 100% 100%, 0% 100%);
          clip-path: polygon(0 24%, 100% 77%, 100% 100%, 0% 100%);
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.current-menu-item {
  opacity: 0.7;
}

#sitemap {
  width: 350px;
  height: auto;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  font-size: 13px;
  line-height: 1.5;
}

#sitemap li {
  display: inline;
  margin: 5px;
}

#sitemap a:hover {
  color: #ffffff;
}

#footer {
  width: 100%;
  text-align: center;
  color: #494622;
  padding: 25px;
  background: #ababab;
}

#footer #button-up {
  width: 50px;
  height: 50px;
  margin: auto;
  border: 1px solid #494622;
  border-radius: 50%;
  margin-bottom: 15px;
}

#footer #button-up a {
  text-decoration: none;
  color: #494622;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#footer #button-up a:hover {
  cursor: pointer;
  color: #ffffff;
}

#footer h5 {
  font-size: 12px;
}

#welcome {
  height: 100%;
  width: 100%;
  text-align: center;
  color: #494622;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#welcome #headers {
  margin-top: 50px;
}

#latest {
  height: 100%;
  width: 82%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 600px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 350px 350px 320px;
      grid-template-columns: 350px 350px 320px;
  -ms-grid-rows: 400px 400px 400px;
      grid-template-rows: 400px 400px 400px;
      grid-template-areas: "post post sidebar" "post post sidebar" "post post sidebar";
  grid-gap: 13px;
  grid-column-gap: 40px;
}

@media only screen and (min-width: 1440px) {
  #latest {
    width: 50%;
  }
}

.post-thumbnail {
  background-color: rgba(73, 70, 34, 0.8);
  color: #ffffff;
  -webkit-box-shadow: 0 12px 16px -6px #000;
          box-shadow: 0 12px 16px -6px #000;
  width: 100%;
  height: 100%;
  text-decoration: none;
  border-radius: 2px;
}

.post-thumbnail h3 {
  margin-top: 15px;
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;
}

.post-thumbnail p {
  text-align: justify;
  font-size: 14px;
  line-height: 1.3;
  padding: 20px;
}

.post-thumbnail .post-thumbnail-img {
  width: 100%;
  height: 150px;
  border-radius: 2px;
  -o-object-fit: cover;
     object-fit: cover;
}

.post-thumbnail .post-thumbnail-mask {
  position: relative;
  display: block;
  text-align: center;
  content: '';
  height: 100%;
}

.post-thumbnail .post-thumbnail-mask figcaption {
  color: #494622;
  font-weight: bold;
  position: absolute;
  width: 300px;
  margin: auto;
  left: 0;
  right: 0;
  z-index: 2;
  opacity: 0;
  -webkit-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.post-thumbnail .post-thumbnail-mask:after {
  background: #ffffff;
  width: 350px;
  height: 405px;
  position: absolute;
  left: 0;
  bottom: 0;
  margin-bottom: -5px;
  content: '';
  opacity: 0.9;
  -webkit-transform: skew(15deg) scaleX(0);
          transform: skew(15deg) scaleX(0);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.post-thumbnail .post-thumbnail-mask:hover:after {
  -webkit-transform: skew(0) scaleX(1);
          transform: skew(0) scaleX(1);
  -webkit-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 2px;
}

.post-thumbnail .post-thumbnail-mask:hover figcaption {
  opacity: 1;
  -webkit-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

a {
  text-decoration: none;
  color: #494622;
}

#sidebar {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 3;
  grid-area: sidebar;
  background-color: transparent;
  color: #494622;
  height: 100%;
  width: 80%;
}

#sidebar h5 {
  font-size: 18px;
  color: #ffffff;
  background: rgba(73, 70, 34, 0.8);
  letter-spacing: 2px;
}

#recent-posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
}

#recent-posts .recent-post {
  margin-top: 15px;
  border-bottom: 0.5px solid #494622;
  font-size: 14px;
  line-height: 1.2;
  text-align: justify;
  padding: 5px;
  -webkit-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#recent-posts .recent-post h5 {
  font-size: 16px;
  font-weight: 900;
  text-align: center;
  color: #494622;
  background: none;
  margin-bottom: 5px;
}

#recent-posts .recent-post:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#sidebar-pics #sidebar-pics-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  margin: auto;
}

#sidebar-pics #sidebar-pics-holder img {
  height: 60px;
  width: 60px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 7px;
  -webkit-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#sidebar-pics #sidebar-pics-holder img:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  border-radius: 20%;
  cursor: pointer;
}

#about {
  height: 100%;
  width: 100%;
  padding-top: 120px;
  color: #494622;
}

#about p {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  line-height: 2.5;
  margin-top: 20px;
  text-align: justify;
}

#about #social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

#about .social-icon {
  margin-left: 25px;
  margin-right: 25px;
  width: 130px;
  height: auto;
  opacity: 0.7;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#about .social-icon:hover {
  opacity: 1;
  cursor: pointer;
}

#page {
  width: 85%;
  height: auto;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #494622;
  background-color: #ffffff;
  border-radius: 10px;
  -webkit-box-shadow: 0 12px 16px -6px #000;
          box-shadow: 0 12px 16px -6px #000;
}

#page #page-title {
  background-color: #494622;
  color: #ffffff;
  padding: 3px;
}

#page #page-content {
  margin: 10px;
  padding: 35px;
}

#page #page-content h1, #page #page-content h2, #page #page-content h3, #page #page-content h4, #page #page-content h5 {
  margin: 5px;
}

#page #page-content p {
  text-align: justify;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 1.5;
}

#archive {
  width: 95%;
  height: auto;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #494622;
  background-color: #ffffff;
  border-radius: 10px;
  -webkit-box-shadow: 0 12px 16px -6px #000;
          box-shadow: 0 12px 16px -6px #000;
}

#archive #page-title {
  background-color: #494622;
  color: #ffffff;
  padding: 3px;
}

#archive #background1 {
  background: #ababab;
}

#page-archive {
  display: block;
  width: 100%;
  margin-top: 15px;
}

.archive-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  border: 1px #ababab solid;
  border-radius: 5px;
  line-height: 2;
}

.archive-menu #archive-menu-title {
  border: solid;
  padding-left: 15px;
  padding-right: 15px;
}

.archive-menu h3 {
  font-size: 30px;
}

.month-dropdown {
  width: 100%;
  border: solid;
}

.month-dropdown .dropbtn {
  background-color: #494622;
  color: #ffffff;
  font-size: 18px;
  width: 100%;
  padding: 18px;
}

.month-dropdown .drop-content {
  display: none;
  position: absolute;
  font-size: 18px;
  width: 280px;
  background-color: #f1f1f1;
  color: #494622;
  -webkit-box-shadow: 0 12px 16px -6px #000;
          box-shadow: 0 12px 16px -6px #000;
  z-index: 1;
}

.month-dropdown .drop-content a {
  color: #494622;
  padding: 2px;
  text-decoration: none;
  display: block;
  border-bottom: 0.5px solid #494622;
}

.month-dropdown .drop-content a:hover {
  background-color: #636363;
  color: #ffffff;
}

.month-dropdown .drop-content li {
  list-style-type: none;
}

.month-dropdown:hover .drop-content {
  display: block;
}

.month-dropdown:hover .dropbtn {
  background-color: rgba(73, 70, 34, 0.8);
  cursor: pointer;
}

.archive-content {
  height: auto;
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 35px;
  text-align: justify;
  line-height: 1.5;
}

.archive-content h3 {
  text-align: left;
  background: #494622;
  padding: 5px;
}

.archive-content a {
  color: #ffffff;
}

.archive-post {
  margin: 14px;
  width: 45%;
}

.archive-post .archive-meta {
  background: #ababab;
  color: #ffffff;
  padding: 5px;
  font-size: 12px;
  opacity: 0.85;
}

.archive-post .archive-generic-content {
  padding: 5px;
}

.archive-post .archive-generic-content a {
  color: #636363;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-weight: bold;
}

.archive-post .archive-generic-content a:hover {
  letter-spacing: 2px;
}

.paginate {
  text-align: center;
  margin: 15px;
}

.paginate a {
  color: #494622;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.paginate a:hover {
  color: #ababab;
}

.search-overlay {
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 110;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.96);
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(1.09);
  transform: scale(1.09);
  transition: opacity .3s, visibility .3s, -webkit-transform .3s;
  -webkit-transition: opacity .3s, visibility .3s, -webkit-transform .3s;
  transition: opacity .3s, transform .3s, visibility .3s;
  transition: opacity .3s, transform .3s, visibility .3s, -webkit-transform .3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.search-overlay p {
  padding-top: 15px;
}

.search-overlay .event-summary p {
  padding-top: 0;
}

.search-overlay .event-summary {
  margin-bottom: 0;
  margin-top: 20px;
}

body.admin-bar .search-overlay {
  top: 32px;
}

.search-overlay__top {
  background-color: rgba(0, 0, 0, 0.12);
}

.search-overlay-btn {
  background-color: transparent;
  margin: 10px;
}

.search-overlay__icon {
  height: 3rem;
  width: auto;
}

.search-overlay__icon:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media (min-width: 960px) {
  .search-overlay__icon {
    font-size: 2.5rem;
  }
}

.search-overlay--active {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.search-overlay__section-title {
  text-align: left;
  margin: 30px 0 1px 0;
  font-weight: 400;
  color: #0D3B66;
  font-size: 2rem;
  padding: 15px 0;
  border-bottom: 1px solid #CCC;
}

.search-overlay__close {
  position: absolute;
  top: 13px;
  right: 16px;
  font-size: 2.1rem;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
  background-color: #FFF;
  color: #F95738;
  line-height: .7;
}

@media (min-width: 530px) {
  .search-overlay__close {
    top: 18px;
    font-size: 2.1rem;
  }
}

@media (min-width: 960px) {
  .search-overlay__close {
    top: 26px;
    font-size: 2.8rem;
  }
}

.search-overlay__close:hover {
  opacity: 1;
}

.search-overlay .one-half {
  padding-bottom: 0;
}

.search-term {
  width: 75%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  padding: 15px 0;
  margin: 0;
  background-color: transparent;
  font-size: 1rem;
  font-weight: 300;
  outline: none;
  color: #F95738;
}

@media (min-width: 530px) {
  .search-term {
    font-size: 1.5rem;
  }
}

@media (min-width: 960px) {
  .search-term {
    width: 80%;
    font-size: 3rem;
  }
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 16px;
  position: relative;
}

.body-no-scroll {
  overflow: hidden;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.spinner-loader {
  margin-top: 45px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 0.25rem solid rgba(0, 0, 0, 0.2);
  border-top-color: black;
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}

.link-list li {
  padding: 1rem 0;
  font-size: 1.5rem;
  border-bottom: 1px dotted #DEDEDE;
}

.search-overlay .link-list li {
  font-size: 1.3rem;
}

.link-list li:last-child {
  border-bottom: none;
}

.link-list a {
  color: #F95738;
}

.min-list {
  padding: 0;
  margin: 0;
}

.min-list li {
  list-style: none;
}
/*# sourceMappingURL=main-style.css.map */