/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Subrayada");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-family: "Montserrat Subrayada", sans-serif;
  font-size: 46px;
  text-align: center;
}

h3 {
  text-align: center;
  font-size: 30px;
}

h2 {
  text-align: center;
  font-size: 38px;
}

h4 {
  text-align: center;
  font-size: 24px;
}

h5 {
  font-size: 16px;
  text-align: center;
  letter-spacing: 5px;
  font-weight: 800;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  background-color: #ababab;
  color: #494622;
}

#background1 {
  position: absolute;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 18%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 18%, 0% 100%);
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  z-index: -1;
}

#background2 {
  position: absolute;
  -webkit-clip-path: polygon(0 24%, 100% 77%, 100% 91%, 0% 100%);
          clip-path: polygon(0 24%, 100% 77%, 100% 91%, 0% 100%);
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  z-index: -1;
}

#background3 {
  position: absolute;
  -webkit-clip-path: polygon(0 24%, 100% 77%, 100% 100%, 0% 100%);
          clip-path: polygon(0 24%, 100% 77%, 100% 100%, 0% 100%);
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.current-menu-item {
  opacity: 0.7;
}

#single-title {
  width: 75%;
  margin: 0 auto;
  margin-top: 15px;
  color: #ffffff;
  opacity: 1;
  background-color: #494622;
  border-radius: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

#single-meta {
  width: 75%;
  margin: 0 auto;
  -webkit-transform: translateX(8px);
          transform: translateX(8px);
  background: #ababab;
  color: #ffffff;
  padding: 5px;
  font-size: 15px;
  text-align: left;
  opacity: 0.85;
}

#single-meta a {
  color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-style: italic;
}

#single-meta a:hover {
  color: #494622;
}

#single #background1 {
  background: #ababab;
}

#thread {
  width: 75%;
  height: auto;
  margin: auto;
  color: #494622;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#thread * {
  margin: 18px;
}

#thread h3 {
  letter-spacing: 4px;
  margin-bottom: 20px;
}

#thread p {
  text-align: justify;
  line-height: 2;
  padding-left: 15px;
  padding-right: 15px;
}

#thread img {
  display: block;
  width: 70%;
  height: auto;
  margin: 0 auto;
}
/*# sourceMappingURL=single-style.css.map */