//COLOR TEMPLATE FOR TRAVEL BLOG
//BY: mscbr

$primary: #ffffff;
$secondary: rgb(73, 70, 34);
$accent: #ababab;
$accent-dark: #636363;
$secondary-opacity: rgba(73, 70, 34, 0.8); //rgba(99, 99, 99, 0.7);
