//TRAVEL BLOG 
//POST SLIDER
//BY: mscbr

//slider l/r span mixin
@mixin slider-switch($is-left, $color) {
    position: absolute;
    z-index: 3;
    height: 100px;
    width: 100px;
    margin-top: 150px;
    background-color: $color;
    clip-path: polygon(0 0, 100% 50%, 0 100%, 11% 50%);
    transition: 0.3s;

    @if $is-left == true {
        transform: rotate(180deg);
        left: 1%;  
    } @else if $is-left == false {
        right: 1%;  
    }
    
    &:hover {
        opacity: 0.4;
        transition: 0.1s;
        cursor: pointer;
    }
}

#slide-holder {
    width: 1000px;
    height: 400px;

    #right-span {
        @include slider-switch(false, $primary);
    }
    #left-span {
        @include slider-switch(true, $accent);
    }
    img {
        //object-fit: cover;
        width: 1000px;
        height: 400px;
        border-radius: 2px; 
        transition: 0.4s;  
        box-shadow: 0 12px 16px -6px #000;
        animation: slide-change 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
    }
    label {
        position: relative;
        font-size: 24px;
        top: -390px;
        color: $primary;
        letter-spacing: 6px;
        font-weight: 800; 
        text-shadow: 2px 3px $secondary;
        animation: slide-change 0.5s linear forwards;
    }
}
.slide {
    display: none;
    
    //animation: slide-change 0.8s ease-out forwards;
}
@keyframes slide-change {
    0% {
        opacity: 0;
        transform: scale(1.04);
    }
    100% {
        opacity: 1;
        transform: scaleY(1);
    }
}